<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>URL Shortener API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 class="mt-4 text-center">URL Shortener API</h1>
    <textarea class="form-control mt-3" style="height: 90px;">აქ გამოტანილია ბმულები ყველა ენდპოინტზე.
პრემიუმ სექციას ესაჭიროება ავტორიზაცია, გამოიყენეთ guest:guest
ადმინისტრატორი admin:admin</textarea>

    <a target="_blank" class="btn btn-primary btn-sm mt-4"
       href="{% url 'url_list' %}">List All URLs</a>

    <div class="row mt-4">
        <div class="col-6">
            <h3>Basic Endpoints</h3>
            <a target="_blank" class="btn btn-success btn-sm" href="{% url 'url_create_basic' %}">
                Create Basic
            </a>
            <div class="mt-3">Update</div>
            <ol>
                {% for item in urls %}
                <li><a target="_blank" href="{% url 'url_update_basic' alias=item.alias %}">{{ item.alias }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-6">
            <h3>Premium Endpoints</h3>
            <a target="_blank" class="btn btn-success btn-sm" href="{% url 'url_create_premium' %}">
                Create Premium
            </a>
            <div class="mt-3">Update</div>
            <ol>
                {% for item in urls %}
                <li><a target="_blank" href="{% url 'url_update_premium' alias=item.alias %}">{{ item.alias }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="mt-3">
        <h3>Visitor counters</h3>
        <ul>
            {% for item in urls %}
            <li>
                <span class="small">{{ item.visited }} | </span>
                <a target="_blank" href="{% url 'view' alias=item.alias %}">{{ item.alias }}</a>
                <span class="small"> - {{ item.url }}</span>
            </li>
            {% endfor %}
        </ul>
        <a class="btn btn-danger btn-sm" href="{% url 'clear' %}">
            Delete old URLs
        </a>
    </div>

    <div class="small mt-3 text-end">
        პროექტში გამოყენებული მასალები:<br>
        <a target="_blank" href="https://www.django-rest-framework.org/">https://www.django-rest-framework.org/</a><br>
        <a target="_blank" href="https://oluchiorji.com/django-rest-framework-crud/">https://oluchiorji.com/django-rest-framework-crud/</a>
    </div>

</div>

</body>
</html>
